/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
#root {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

input,
button {
  background-color: inherit;
  padding: 28x 56x;
  border: 0;
  border: 1.25px solid lightgray;
  border-radius: 4px;
  border-bottom: 2px solid rgb(62, 162, 219);
  margin: 4px 0;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;

  &:hover, &:focus {
    background-color: lightblue;
  }
}